*{
    padding: 0;
    margin: 0;
}
.container-fluid{
    background-color: black;
 height:100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.container-fluid img {
    width: 300px;
    height: auto;
    animation: shrinkExpandY 2s infinite ease-in-out;
}

@keyframes shrinkExpandY {
    0%, 100% {
        transform: scaleX(1); 
    }
    50% {
        transform: scaleX(0.7);
    }
}
