/* nav{
    height:6em;
} */
.navbar{
    background-color:rgb(0,20,64,.96) !important;
}
.d-inline-block{
    height:10vh;
    width:10vw;
}
.nav-link{
    margin-left:2em;
    color:white
}
.post-container{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);
    column-gap:2em;
    row-gap: 1em;
    margin:2em auto
}
.card-body{
    margin:2em 1em;
}
.container-md>button{
    margin:0 .2em
}
.container-md{
    display: flex;
}